body {
  padding-top: 4.1em;
  font-family: "Roboto", Helvetica, sans-serif;
  margin: 0;
  animation: fadeInAnimation ease 1.5s; /* fade in animation on page load */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*NAVBAR*/
nav {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  z-index: 1;
}

nav ul {
  list-style: none;
  background-color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 18px;
}

nav li a.active {
  background-color: #00abb3;
  color: #fcffe7;
}

nav ul li a:hover:not(.active) {
  background-color: #111;
}

.right-menu {
  float: right;
}

.belepes {
  clear: both;
  display: grid;
  place-items: center;
  width: 400px;
  background-color: #ffffff;
  padding: 30px;
  border: 5px solid #2b3467;
  margin: 45px auto;
}

div.belepes input[type="submit"] {
  margin-top: 20px;
  width: 40%;
  height: 30px;
  border: none;
  outline: none;
  background-color: #2b3467;
  font-size: 20px;
  text-transform: capitalize;
  color: white;
}

main {
  color: #2b3467;
  font-size: 1.3rem;
  padding: 4em 0 0 0;
}

section {
  padding: 4em 8em;
}

h1,
h2 {
  clear: both;
  text-align: center;
  text-transform: capitalize;
}

h3,
h4 {
  text-align: center;
}

.attekintes {
  line-height: 1.5;
  text-align: left;
  /*padding-bottom: 8em;*/
}

.tudnivalok {
  background-color: #2b3467;
  color: #fff;
}

.tudnivalok li {
  line-height: 2.5;
  list-style: none;
}

.tudnivalok li::before {
  content: url(../img/space32.png);
  margin-right: 8px;
}

.bolygo-img {
  width: 400px;
  height: 300px;
  border-radius: 1em;
  float: right;
  margin: 2em;
  position: relative;
  bottom: 3em;
  /*z-index: -1; !* menu ele csuszas miatt *!*/
}

#merkur-img,
#mars-img {
  width: 300px;
}

.urlap {
  margin: auto;
  padding-bottom: 4em;
  width: 900px;
}

.hibas-input {
  background-color: #feedf0;
  border-color: #991513;
  color: #991513;
}

.hibas-label {
  float: right;
  color: #991513;
  font-size: 14px;
  font-family: "Roboto Mono", Helvetica, sans-serif;
  vertical-align: top;
}

.oszlop {
  float: left;
  width: 300px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}
th {
  background-color: #2b3467;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}

.galaxis-tablazat tr:hover {
  transform: scale(1.02);
}

footer {
  background-color: #2b3467;
  color: #fff;
  text-align: right;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p {
  height: 2em;
  padding-right: 20px;
  margin-bottom: 0;
}

footer p a:link {
  color: white;
}

input {
  font-size: 16px;
  margin-top: 25px;
  height: 25px;
  width: 250px;
}

input[type="radio"] {
  margin-right: 16px;
  height: initial;
  width: initial;
}

#kedvenc-bolygo {
  margin-top: 25px;
  position: relative;
  width: 822px;
}

#kedvenc-bolygo br {
  display: none;
}

fieldset label {
  font-size: 16px;
}

#urlap-gombok {
  position: relative;
  width: 600px;
}

input[type="submit"] {
  display: inline;
}

input[type="reset"] {
  position: absolute;
  left: 300px;
}

input[type="submit"],
input[type="reset"] {
  width: 150px;
}

@media screen and (max-width: 1053px) {
  body {
    padding-top: 8.2em;
  }
  section {
    padding-left: 0em;
    padding-right: 0em;
  }
  .urlap {
    padding-left: 4.5em;
    padding-right: 4.5em;
  }
  .attekintes {
    padding-left: 2.2em;
    padding-right: 1.3em;
  }
  .tudnivalok {
    padding-left: 0.9em;
    padding-right: 1.3em;
  }
}

@media screen and (max-width: 978px) {
  .oszlop {
    float: none;
  }
  .urlap {
    width: auto;
  }
  #kedvenc-bolygo {
    width: 228px;
  }
  #kedvenc-bolygo br {
    display: inline;
  }
  #urlap-gombok {
    width: 200px;
  }
  input[type="reset"] {
    position: static;
  }
}

@media screen and (max-width: 600px) {
  .bolygo-img {
    margin-right: 0em;
  }
}

audio {
  margin-top: -15px;
}

.kedvenc-bolygo {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

body > main:nth-child(2) > div:nth-child(3) > input:nth-child(1) {
  justify-content: left;
}

body > main:nth-child(2) > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  margin-top: 3em;
}

.profil-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: hidden;
  padding-top: 3em;
}

.pub-kedvenc {
  float: right;
}

#pub_kedvenc {
  width: 40px;
}

#pub-kedvenc-label {
  font-size: 1.3em;
}

.mentes {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.table-felhasznalok {
  width: 90%;
}

#felh-admin {
  width: 60px;
}

.img-profil {
  display: block;
  margin: auto;
  height: 60px;
  max-width: 100px;
}

.admin-checkbox {
  position: relative;
  top: -10px;
  left: -10px;
}

#submit-admin {
  display: block;
  margin: 3em auto;
  width: 190px;
}